/* css seulement pour la colonne de gauche */
div#main1 {
	float: left;
	width: 30%;
	background:rgba(255,193,7 ,1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* arrondie pour la photo de profil */
.pdp_retouche {

    overflow:hidden;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:80px;
    width:150px;
    height:150px;
    margin-left: 75px;
    margin-top: 30px;
    
}

.contact{

    margin-left: 40px;
    overflow-wrap: break-word;
    line-height: 0.12em;
    margin-bottom: 40px;
}

.about_me{

    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 170px;
    line-height: 1.5em;
}

/* Les 3 barres noirs du main */
.Barre{

    color:rgba(255,193,7 ,1) ;
    background:rgba(33,33,33 ,1);
    text-align: center;
    height: 30px;
    flex: auto;
    
}

.items_bot{

    display: flex;
    height: 90px;
    margin-top: 12%;
    text-align: center;
}

/* couleur des 3 items du bas */
.color{

    color: #000;
    flex: 1 1 auto;
    
}


/* Css seulement pour la colonne 2 */ 

div#main2 {

	float: right;
	width: 63%;
	margin-left: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* décoration du grand titre "prénom Nom" */
.titre1{

    font-size: 1.2em;
}

.titre2{

    font-size: 0.6em;
    margin-bottom: 80px;
}

.déco_titre{

    color:rgba(255,193,7 ,1) ;
}

/* décoration des block titre de la colonne de droite */
.block_titre{

    color: #000 ;
    font-size: 1.3em;
    border-bottom: solid 2px rgba(255,193,7 ,1);
    margin-right: 10%;
}
/* décoration des 5 containers identique */  
.container {

    display: flex;
}

.date{
   
    float: left;
    width: 25%;
    margin-bottom: 10px;
}

.forma{

    float: right;
    width: 65%;
    margin-right: 10%;
}

.forma1{

    float: right;
    width: 65%;
    margin-right: 10%;
    line-height: 1.6em;
}

/* dernier block */
.container_fin{

    display: flex;
}

.reco{

    width: 50%;
    line-height: 0.8em;
}

@media (min-width:1012px) and (max-width:1439px){
.global{

    padding-left: 100px;
    padding-right: 100px;
}
}

@media (min-width:1440px) and (max-width:1799px){
.global{

    padding-left: 200px;
    padding-right: 200px;
}
}


@media (min-width:1800px){
    .global{
    
        padding-left: 300px;
        padding-right: 300px;
    }
    
    .pdp_retouche {
        margin-left: 115px;}
}